<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tiago</title>
</head>
<body>
    <form action ="/" method="POST" class="container">
        <label for = "nome"> Qual é o seu nome?<br>
        <input type="text" name="nome"><br>
        <button type="submit">Salvar nome</button>
    </form>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>